@media (max-width: 1400px) {
  .service {
    min-width: 200px;
  }

  .form {
    margin-bottom: 0;
  }
  .form-input {
    width: 90%;
    margin-left: 5px;
  }

  .email-button {
    margin-left: 40px;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .portfolio__img {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    padding: 5px;
  }
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

  .services {
    display: flex;
    /* max-width: 1200px;
    margin-left: auto;
    margin-right: auto; */
  }

  .service + .service {
    margin-left: 2em;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (max-width: 599px) {
  section {
    width: 100%;
    padding: 20px 0 0 0;
    margin-left: auto;
    margin-right: 0;
  }
  strong {
    display: block;
  }
  .header {
    width: 100%;
    padding: 0;
  }
  .intro {
    padding-bottom: 40px;
  }
  .section__title--intro {
    padding-left: 10px;
  }

  .intro__img {
    margin: 0 auto;
  }
  .skills-list:last-child {
    padding-bottom: 20px;
  }

  .work-btn {
    margin-bottom: 30px;
  }

  .contact-btn {
    width: 60%;
    margin-bottom: 30px;
  }

  .about-me {
    max-width: 100%;
  }

  .section__title--about {
    padding-left: 35px;
  }

  .section__subtitle--about {
    padding-left: 35px;
  }
  .about-me__body p {
    padding-left: 35px;
    padding-right: 20px;
  }

  .certificate--img {
    /* max-width: 30%; */
    /* float: left; */
    margin-left: 35px;
    margin-right: 10px;
  }

  .services {
    margin-bottom: 20px;
  }

  .section__subtitle--work {
    margin-bottom: 20px;
  }
  .portfolio {
    grid-template-columns: none;
  }
  .portfolio-section-intro {
    padding-bottom: 20px;
  }
  .hide-small {
    display: none;
  }

  .portfolio__img {
    margin-top: 15px;
    margin-left: 0;
    padding: 0;
  }

  .hide-big {
    display: none;
  }
  .portfolio__img {
    margin-top: 5px;
    margin-left: 0;
    max-width: 100%;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }

  .portfolio__img:hover,
  .portfolio__item:focus .portfolio__img {
    transform: none;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .portfolio__link {
    padding: 5px 0;
  }
  .portfolio-item-buttons {
    transition: none;

    margin-top: 8px;
    padding: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
  .portfolio-intro {
    padding-left: 10px;
    font-size: 36px;
  }

  strong {
    padding-left: 20px;
  }
  .social-list {
    margin-top: 25px;
  }

  .icon-bar {
    top: 85%;
    opacity: 0.8;
  }

  .icon-bar a {
    padding: 8px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 374px) {
  .portfolio-item-buttons a {
    max-width: 140px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 349px) {
  .section__subtitle--work {
    padding: 0 15px;
  }

  .portfolio-item-buttons a {
    width: 100px;
    letter-spacing: 1px;
  }
  .site-button,
  .repo-button {
    padding: 10px;
  }
}
